<html>
	<head>
		<title>Tech</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
	    <link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
		<style>
            body{
                overflow:hidden;
                margin:0;
                cursor:none;
            }
            #bgimage{
                z-index: -1;
                max-width: 100%;
                width:100%;
                height:100%;
                max-height: 100%;  
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                transform:scale(1.4);
                opacity:0;
                /* animation:2s fadeIn ease-in-out; */
                }
            .circle-cursor {
                z-index: 1;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #042f44dc; 
                position: absolute;
                pointer-events: none; 
                transition:  0.1s ease-out;
                
            }
			.container1{
                cursor: none;
                z-index: 0;
                position: absolute;
                left: 5.3%;
                top: 4.5%;
                width: 89vw;
                height: 7vh;
                border-radius: 19px;
                border: 2px solid rgba(255, 255, 255, 0.38);
                background: linear-gradient(110deg, rgba(36, 118, 148, 0.19) 9.98%, rgba(248, 161, 148, 0.19) 92.36%);
                box-shadow: 0px 4px 168.5px 0px rgba(0, 0, 0, 0.24);
                backdrop-filter: blur(19.799999237060547px);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity:0;
                /* animation:2s fadeIn ease-in-out; */
                
		    }
            .inn{
                color: #000000;
                background-color: rgba(255, 255, 255, 0.2);
                border: solid 1px rgba(0, 0, 0, 0.119);
                border-radius: 24px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
                padding: 10px 15px;
                font-size: 16px;
                transition: 0.38s ease-in-out;
                outline: none;
                width: fit-content;
                height:100% ;
                backdrop-filter: blur(200px);
                cursor:none;
                resize:none; /* maa chudaye resize  */
            }
            .inn:focus{
                transform: scale(1.1);
                box-shadow: none;
                border-radius:16px;
                /* border:solid 0.3px rgba(0, 0, 0); */
                /* box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.404); */
				padding-right: 500px;

            }
            .inn:focus + .submit-button{
                transform:translateX(30px);
            }
			.submit-button{
                font: 48px;
                background-color: rgba(255, 255, 255, 0.201);
                padding:16px;
                padding-top:5px;
                padding-bottom:5px;
                font-family: 'Italiana', sans-serif;
                font-weight: 800;
                border-radius:8px;
                border: solid 1px rgba(0, 0, 0, 0.119);
                transition:0.29s ease-in-out;
                backdrop-filter: blur(11px);
                color:#042F44;
                cursor:none;
            }
            .submit-button:hover{
                transform: scale(1.1);
                background-color:#042f4494 ;
                color:white;
                box-shadow:0px 0px 5px rgba(0, 0, 0, 0.334);
            }
			.something{
                position:absolute;
                top:10%;
				display:flex;
				gap:27px;
                justify-content: center;
                z-index: 2;
			}
            img{
                /* display:block;
                margin-left: auto;
                margin-right: auto; */
                /* object-fit: contain; */
                width:50%;
                max-width: 500px;
                height: auto;
            }
            .tech{
                z-index: 3;
                position:absolute;
                left:2.5%;
                font-family: 'Italiana', sans-serif;
                font-size:38px;
                font-weight: 400;
                color: #083F5D;
                transition:0.38s ease-in-out;

            }
            .tech:hover{
                top:11%;
                font-family: 'Italianno', cursive;
            }
            .container{
                display:flex;
                flex-direction: column;
            }
            .cards1{
                cursor: none;
                z-index: 0;
                position: absolute;
                left: 5.3%;
                top: 20%;
                width: 89vw;
                height: 40vh;
                /* border-radius: 19px;
                border: 2px solid rgba(255, 255, 255, 0.38);
                background: linear-gradient(110deg, rgba(36, 118, 148, 0.19) 9.98%, rgba(248, 161, 148, 0.19) 92.36%);
                box-shadow: 0px 4px 168.5px 0px rgba(0, 0, 0, 0.24);
                backdrop-filter: blur(19.799999237060547px); */
                display: flex;
                gap:30px;
                opacity:1;
            }
            .row11{
                /* position:absolute;
                left:2.5%; */
                border-radius: 19px;
                border: 2px solid rgba(255, 255, 255, 0.38);
                background: linear-gradient(110deg, rgba(36, 118, 148, 0.19) 9.98%, rgba(248, 161, 148, 0.19) 92.36%);
                box-shadow: 0px 4px 168.5px 0px rgba(0, 0, 0, 0.24);
                backdrop-filter: blur(19.799999237060547px);
            }
            .row12{
                /* position:absolute;
                left:20%; */
                border-radius: 19px;
                border: 2px solid rgba(255, 255, 255, 0.38);
                background: linear-gradient(110deg, rgba(36, 118, 148, 0.19) 9.98%, rgba(248, 161, 148, 0.19) 92.36%);
                box-shadow: 0px 4px 168.5px 0px rgba(0, 0, 0, 0.24);
                backdrop-filter: blur(19.799999237060547px);
            }
            .row13{
                border-radius: 19px;
                border: 2px solid rgba(255, 255, 255, 0.38);
                background: linear-gradient(110deg, rgba(36, 118, 148, 0.19) 9.98%, rgba(248, 161, 148, 0.19) 92.36%);
                box-shadow: 0px 4px 168.5px 0px rgba(0, 0, 0, 0.24);
                backdrop-filter: blur(19.799999237060547px);
            }
            
		</style>
	</head>
	<body>
        <img id="bgimage" src="https://cdn.discordapp.com/attachments/1181225884825419787/1193907469383127190/background.jpg?ex=65ae6bfa&is=659bf6fa&hm=3a8ef43b230b8ff08c13463e7afd213be9d3a17d870b40424f63a9b1202106d8&" alt="background">
        <div class="circle-cursor"></div>
        <div class="container">
            <div class="container1">
                <form action="/submit" class="something" method="POST" >
                    <input type="text" name="lat" id="lat" class="inn"placeholder="<%=place%>">
                    <input type="submit" value="Crave" id="button" class="submit-button">
                </form>
                    <div class="tech">TECH</div>
            </div>
            <div class="cards1">
				    <div class="row11">
                        <% if (news1) { %>
                            <% if (img1) { %>
                                <img src="<%=img1%>"  alt="news">
                            <% } %>
                            <div><%= news1 %></div>
                        <% } %>
                    </div>
                        
				    <div class="row12">
                        <% if (news2) { %>
                            <img src="<%=img2%>"  alt="oopsie no image :(">
					    <div><%= news2 %></div>
				    <% } %>
                    </div>
				
				    <div class="row13">
                        <% if (news3) { %>
                            <img src="<%=img3%>"  alt="oopsie no image :(">
                            <div><%= news3 %></div>
			    	<% } %>
                    </div>
			
            
		    </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
		<script>
			//cc4e82057511460fa37affd759119e03
            document.addEventListener('DOMContentLoaded', function() {

                gsap.from(".container1",1.19,{
                    delay:1.75,
                    transform:"scale(0.1)",
                    y:-100
                })
                gsap.to(".container1",0.65,{
                    delay:1.2,
                    opacity:1
                })
                gsap.to("#bgimage",1.5,{
                    delay:0.65,
                    opacity:1
                })
                gsap.from(".row11",1.19,{
                    delay:1.75,
                    y:700
                })
                gsap.from(".row12",1.19,{
                    delay:1.95,
                    y:700
                })
                gsap.from(".row13",1.19,{
                    delay:2.15,
                    y:700
                })

                const circleCursor = document.querySelector('.circle-cursor');

                document.addEventListener('mousemove', function(e) {
                    const x = e.clientX;
                    const y = e.clientY; //same concept as parallax 
                    circleCursor.style.transform = `translate(${x}px, ${y}px)`;
                });
                const sp=document.getElementById("button");
                sp.addEventListener("mouseover",function(e){
                    circleCursor.style.width = '45px';
                    circleCursor.style.height = '45px';
                    circleCursor.style.opacity = "0";
                })
                sp.addEventListener("mouseleave",function(e){
                    circleCursor.style.width = '25px';
                    circleCursor.style.height = '25px';
                    circleCursor.style.opacity = "1";
                })
                const t=document.querySelector(".tech");
                t.addEventListener("mouseover",function(e){
                    circleCursor.style.width = '40px';
                    circleCursor.style.height = '40px';
                    circleCursor.style.opacity = "0";

                })
                t.addEventListener("mouseleave",function(e){
                    circleCursor.style.width = '25px';
                    circleCursor.style.height = '25px';
                    circleCursor.style.opacity = "1";

                })
            });
			
		</script>
	</body>
</html>
